//@use './colors' as *
@import './normalizate.css'
@import './reset.css'
@import './_layout.sass'
@import './_colors.sass'
@import './_variables.sass'

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap")

body
    font-family: "Roboto", sans-serif
    font-weight: 400
    color: #FFFFFF
    font-size: 14px

button
    color: #FFFFFF
