.full-page
    width: 100vw
    height: 100vh
    overflow: hidden
    position: relative

.container-flex-column
    display: flex
    flex-direction: column
    width: 100%

.container-flex-row
    display: flex
    flex-direction: row
    height: 100%
